<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="connection.password"/>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>
        <!--<property name="show_sql">true</property>-->
        <!--<property name="format_sql">true</property>-->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <!-- Mapping -->
        <mapping class="br.com.iandev.midiaindoor.model.Channel"/>
        <mapping class="br.com.iandev.midiaindoor.model.Content"/>
        <mapping class="br.com.iandev.midiaindoor.model.Device"/>
        <mapping class="br.com.iandev.midiaindoor.model.Person"/>
        <mapping class="br.com.iandev.midiaindoor.model.Program"/>
        <mapping class="br.com.iandev.midiaindoor.model.ProgramContent"/>
        <mapping class="br.com.iandev.midiaindoor.model.Programming"/>
    </session-factory>
</hibernate-configuration>
